---
interface Item {
  name: string;
  description: string;
  colorClass: string;
}

const { items } = Astro.props as { items: Item[] };
---

<section class="py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="
        grid
        grid-cols-1
        sm:grid-cols-2
        lg:grid-cols-4
        auto-rows-[170px]
        gap-4
      "
    >

      <!-- A -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02] hover:shadow-xl
        flex flex-col gap-4 md:gap-8
        lg:row-span-2
        ${items[0].colorClass}`}>
        <h3 class="text-2xl md:text-6xl font-semibold">{items[0].name}</h3>
        <p class="text-lg opacity-80">{items[0].description}</p>
      </div>

      <!-- B -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02] flex flex-col gap-4
        ${items[1].colorClass}`}>
        <h3 class="text-2xl font-semibold ">{items[1].name}</h3>
        <p class="text-md opacity-80">{items[1].description}</p>
      </div>

      <!-- C -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02] flex flex-col gap-4
        ${items[2].colorClass}`}>
        <h3 class="text-xl font-semibold">{items[2].name}</h3>
        <p class="text-sm opacity-80">{items[2].description}</p>
      </div>

      <!-- D -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02]
        lg:row-span-2 flex flex-col gap-4
        ${items[3].colorClass}`}>
        <h3 class="text-2xl md:text-5xl font-semibold">{items[3].name}</h3>
        <p class="text-lg opacity-80">{items[3].description}</p>
      </div>

      <!-- F (HERO) -->
      <div class={`relative rounded-3xl p-8 backdrop-blur-xl shadow-lg
        transition hover:scale-[1.02]
        lg:col-span-2 row-span-2
        bg-primary-400/50 dark:bg-primary-900/50 `}>
        <h3 class="text-3xl md:text-6xl font-black leading-tight">
          {items[4].name}
        </h3>
        <p class="mt-4 text-xl opacity-90">
          {items[4].description}
        </p>
      </div>

      <!-- e izquierda -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02]
        lg:row-span-2 flex flex-col md:gap-6 gap-4
        ${items[5].colorClass}`}>
        <h3 class="text-2xl md:text-4xl font-semibold">{items[5].name}</h3>
        <p class="text-lg opacity-80">{items[5].description}</p>
      </div>

      <!-- e derecha -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02] 
        ${items[6].colorClass}`}>
        <h3 class="text-2xl md:text-xl font-semibold">{items[6].name}</h3>
        <p class="text-lg opacity-80">{items[6].description}</p>
      </div>

      <!-- i -->
      <div class={`relative rounded-3xl p-4 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02] flex flex-col gap-4
        ${items[7].colorClass}`}>
        <h3 class="text-2xl md:text-xl font-semibold">{items[7].name}</h3>
        <p class="text-lg md:text-base opacity-80">{items[7].description}</p>
      </div>

      <!-- j -->
      <div class={`relative rounded-3xl p-6 backdrop-blur-xl shadow-md
        transition hover:scale-[1.02] flex flex-col gap-4
        lg:col-span-2
        row-span-2
        md:row-span-1
        ${items[8].colorClass}`}>
        <h3 class="text-4xl font-semibold">{items[8].name}</h3>
        <p class="text-xl md:text-base opacity-80">{items[8].description}</p>
      </div>

    </div>
  </div>
</section>
