---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import Footer from '../layouts/Footer.astro';
import Header from '../layouts/Header.astro';
import Analytics from '@vercel/analytics/astro';

interface Props {
  description: string;
  title: string;
  image?: string;
  canonical?: string;
  type?: 'website' | 'article';
  noindex?: boolean;
}

const {
  description,
  title,
  image = '/assets/logo-black.png',
  canonical,
  type = 'website',
  noindex = false,
} = Astro.props;

const canonicalURL = canonical
  ? new URL(canonical, Astro.site)
  : new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(image, Astro.site);
---

<!doctype html>
<html lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    {noindex && <meta name="robots" content="noindex" />}

    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
    <Analytics />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-primary-50 text-primary-950 antialiased transition dark:bg-primary-950 dark:text-primary-200"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script>
      // @ts-ignore
      import Alpine from 'alpinejs';
      // @ts-ignore
      import collapse from '@alpinejs/collapse';

      Alpine.plugin(collapse);

      Alpine.store('theme', {
        isDark: (() => {
          if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme') === 'dark';
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return true;
          }
          return false;
        })(),

        toggle() {
          (this as any).isDark = !(this as any).isDark;
          localStorage.setItem('theme', (this as any).isDark ? 'dark' : 'light');
        },
      });
      (window as any).Alpine = Alpine;
      Alpine.start();
    </script>
  </body>
</html>
